language: node_js

node_js: node

cache:
  directories:
    - node_modules

script:
  - yarn install
  - yarn docz:build

jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        - provider: script
          skip_cleanup: true
          script: yarn semantic-release

        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: .docz/dist
          on:
            branch: master
  
